@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: rgb(218, 218, 218);
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    font-family: "Work Sans";
    font-size: 19px;
}
a{
    color: black;
}
#TipoUser{
    border-radius: 20px;
    margin-top: 20px;
    font-size: 15px;
}

#box{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 30px 10px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 50%;
    height: 50%;
}


#NSA{
    margin-top: 10px;
    width: 200px;
}

.icon{
    border: 2px rgb(0, 0, 0) solid;
    padding: 5px;
    border-radius: 40px;
    display: flex;
    width: 100px;
    height: 100px;
    margin: 20px;
    transition: 0.4s;
}

.icon:hover{
    box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 30px 10px;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input{
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    border: 2px black solid;
    
}

select{
    padding: 10px;
    border-radius: 20px;
}

#footer{
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    color: white;
}

#iconA{
    display: flex;
}

button{
    cursor: pointer;
    margin: 10px;
    font-size: 15px;
    border: 2px black solid;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    color: rgb(0, 0, 0);
    transition: 0.4s;
}
#Entrar:hover{
    background-color: black;
    color: white;
}

/*DARK MODE*/

#dark img{
    width: 40px;
    height: 40px;
}

#dark{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px 2px;
    align-self: flex-start;
    position: absolute;
    display: flex;
    top: 0px;
}

.darkmode{
    #box{
        box-shadow: rgba(43, 43, 43, 0.35) 0px 5px 20px 10px;
        background-color: rgb(12, 13, 39);
        color: white;
    }
}

body.darkmode {
    background-color: #040611;
}

body.darkmode .icon:hover{
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 30px 10px;
}

body.darkmode a{
    color: white;
}

body.darkmode #dark{
    background-color: black;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 0px 8px 3px;
    border: white solid 2px;
}

body.darkmode #dark img{
    transform: scaleX(-1);
    filter: invert(100%);
}

body.darkmode .icon{

    border: 2px rgb(0, 0, 0) solid;
    filter: invert(100%);
}

body.darkmode .icon:hover{
    box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 30px 10px;
}

@media (orientation:portrait) {
    
    #box{
        width: 100%;
        
    }
    #dark{
        margin-left: 15px;
        margin-top: 20px;
    }

}
